includes:
    - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
    level: 5
    phpVersion: 80100
    paths:
        - ../../ps_apiresources.php
        - ../../src/
    excludePaths:
        - ../../src/ApiPlatform/Processor/
        - ../../src/ApiPlatform/Normalizer/

rules:
    - PsApiResourcesTest\PHPStan\ApiResourcePropertyTypeRule
