includes:
    - %currentWorkingDirectory%/tests/PHPStan/phpstan.neon

parameters:
    # Dedicated cache for each version
    tmpDir: %currentWorkingDirectory%/var/phpstan-tmp/9.0.x
    ignoreErrors:
        # Add version-specific ignores here as needed
        -
            message: "#Class .*Discount.* not found.#"
            identifier: class.notFound
            count: 20
            path: ../../src/ApiPlatform/Resources/Discount/*
