includes:
    - %currentWorkingDirectory%/tests/PHPStan/phpstan.neon

parameters:
    # Dedicated cache for each version
    tmpDir: %currentWorkingDirectory%/var/phpstan-tmp/9.0.x
    ignoreErrors:
        # Add version-specific ignores here as needed
        -
            message: "#Class .*Discount.* not found.#"
            identifier: class.notFound
            count: 20
            path: ../../src/ApiPlatform/Resources/Discount/*
        # The Shipment domain doesn't exist at all yet on 9.0.3
        -
            message: "#Class .*Shipment.* not found.#"
            identifier: class.notFound
            path: ../../src/ApiPlatform/Resources/Order/*
        -
            message: "#Class .*Shipment.* not found.#"
            identifier: class.notFound
            path: ../../src/ApiPlatform/Resources/Shipment/*
        -
            message: "#Class .*OrderDetailNotFoundException.* not found.#"
            identifier: class.notFound
            path: ../../src/ApiPlatform/Resources/Order/ShipmentProducts.php
