includes:
    - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
    level: 5
    phpVersion: 80100
    paths:
        - ../../ps_apiresources.php
        - ../../src/
    ignoreErrors:
        # BulkCustomersDeleteProcessor is a pre-existing custom Processor that pre-dates this rule.
        # TODO: Remove it and use the generic CommandProcessor from PrestaShopBundle instead.
        -
            identifier: apiResource.processorProviderNotAllowed
            path: ../../src/ApiPlatform/Processor/BulkCustomersDeleteProcessor.php

rules:
    - PsApiResourcesTest\PHPStan\ApiResourcePropertyTypeRule
    - PsApiResourcesTest\PHPStan\ApiResourceNormalizerRule
    - PsApiResourcesTest\PHPStan\ApiResourceProcessorProviderRule
